DATABASE_URL=jdbc:postgresql://localhost:5432/nexus
DATABASE_USERNAME=nexus
DATABASE_PASSWORD=nexus
NEXUS_ADMIN_USERNAME=admin
NEXUS_ADMIN_PASSWORD=changeme
NEXUS_MANIFEST_ROOT=/home/ibetanzos/dev/nexus_project/projects
DOCKER_HOST=unix:///var/run/docker.sock
